.products {
  margin-top: 3.5rem;
}
  
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81c9fa;
  padding: 20px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
  color: black;
}
  
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 3 columns with equal width */
}
  
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c1e5fd;
  width: 90%;
  height: 22rem;;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  font-size: 20px;
  color: #003785;
}
  
.img {
  border-radius: 50px;
  display: absolute;
  justify-content: center;
  margin-left: 1.2rem;
}
  
.product-description {
  font-size: 16px;
  color: #000000;
}
  
.product-price {
  font-size: 18px;
  color: #003785;
}
  
.product  img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}
  
.product button {
  display: inline-block;
  border: none;
  background-color: #81c9fa;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
  
.product button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  filter: brightness(110%);
  color: black;
}
  
.product button:active {
  transform: translateY(2px);
  box-shadow: none;
}